<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
hello!!
<table>
    <tr>
        <td th:text="${user.username}">username</td>
        <td th:text="${user.password}">username</td>
        <td th:text="${user.id}">username</td>
        <td th:text="${user.sex}">username</td>
        <td th:text="${user.phone}">username</td>
        <td th:text="${user.age}">username</td>
    </tr>
</table>
</body>
</html>